# MacOS
.DS_Store

# Jekyll build output
_site/

# Other
CLAUDE.md
cookies.txt
chrome_profile_notebooklm/
/.idea/ce-qual-w2-erdc.github.io.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
